<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kasadaka Audio</title>
</head>
<body>

<p>Scanned the following files:</br>


<ul>
  {% for item in scannedFiles %}
    <li>{{ item }}</li>
  {% endfor %}
</ul>
</p>


    {% for language in results %}
      <p>
        Language: {{language[0]}}<br/>
        Existing Wave files:</br>
      <ul>
      {% for existingFile in language[1]}
        <li>{{ existingFile }}</li>
      {% endfor %}
      </ul>
      Missing Wave files:</br>
      <ul>
        {% for notExistingFile in language[2]}
          <li>{{ notExistingFile }}</li>
        {% endfor %}

      </ul>
    </p>
    {% endfor %}
</body>
</html>
